* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[class*="col-"] {
  padding: 10px 0;
}

#lezioni, #steps, #why {
  text-align: center;
  padding-bottom: 40px;
}

#lezioni, #why {
  background-color: rgb(247, 247, 247);
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 20px
}

img {
  height: 150px;
}

h1 {
  font-size: 2em;
  padding: 20px;
}

h3 {
  padding: 10px 0;
  font-size: 1.3em;
}

hr {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

@media all and (min-width: 768px) and (max-width: 991px) {

  img {
    height: 175px;
  }

  h3 {
    font-size: 1.5em;
  }

  h1 {
    font-size: 2.2em;
  }

}

@media all and (min-width: 992px) {

  img {
    height: 200px;
  }

  h3 {
    padding: 15px 0;
    font-size: 1.5em;
  }

  h1 {
    font-size: 2.5em;
  }

  #why img {
    padding: 25px
  }

}
